# Reference: https://github.com/i3/i3/blob/next/etc/config

# i3 doesn't have "normalizations" feature that why we disable them here.
# But the feature is very helpful.
# Normalizations eliminate all sorts of weird tree configurations that don't make sense.
# Give normalizations a chance and enable them back.
enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

after-startup-command = ['exec-and-forget sketchybar']

exec-on-workspace-change = ['/usr/bin/env', 'zsh', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

# Mouse follows focus when focused monitor changes
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

[gaps]
inner.horizontal = 8
inner.vertical   = 8
outer.left       = 8
outer.bottom     = 8
outer.top        = [{ monitor."built-in retina display" = 8 }, 40]
outer.right      = 8

[mode.main.binding]
# See: https://nikitabobko.github.io/AeroSpace/goodness#open-a-new-window-with-applescript
# alt-enter = '''exec-and-forget osascript -e '
# tell application "Terminal"
#     do script
#     activate
# end tell'
# '''
alt-enter = 'exec-and-forget bash ~/.local/script/open_iterm.sh'

alt-j = 'focus left --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
alt-k = 'focus right --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
alt-p = 'focus up --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
alt-n = 'focus down --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'

alt-shift-j = 'move left'
alt-shift-k = 'move right'
alt-shift-p = 'move up'
alt-shift-n = 'move down'

# Consider using 'join-with' command as a 'split' replacement if you want to enable normalizations
alt-h = 'split horizontal'
alt-v = 'split vertical'

alt-f = 'fullscreen'

alt-s = 'layout v_accordion' # 'layout stacking' in i3
alt-w = 'layout h_accordion' # 'layout tabbed' in i3
alt-e = 'layout tiles horizontal vertical' # 'layout toggle split' in i3

alt-shift-space = 'layout floating tiling' # 'floating toggle' in i3

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
#alt-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-a = 'focus parent'

alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 5'
alt-6 = 'workspace 6'
alt-7 = 'workspace 7'
alt-8 = 'workspace 8'
alt-9 = 'workspace 9'
alt-0 = 'workspace 10'
alt-f1 = 'workspace F1'
alt-f2 = 'workspace F2'
alt-f3 = 'workspace F3'
alt-f4 = 'workspace F4'
alt-f5 = 'workspace F5'
alt-f6 = 'workspace F6'
alt-f7 = 'workspace F7'
alt-f8 = 'workspace F8'
alt-f9 = 'workspace F9'
alt-f10 = 'workspace F10'
alt-f11 = 'workspace F11'
alt-f12 = 'workspace F12'

alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace 6'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-8 = 'move-node-to-workspace 8'
alt-shift-9 = 'move-node-to-workspace 9'
alt-shift-0 = 'move-node-to-workspace 10'

alt-shift-f1 = 'move-node-to-workspace F1'
alt-shift-f2 = 'move-node-to-workspace F2'
alt-shift-f3 = 'move-node-to-workspace F3'
alt-shift-f4 = 'move-node-to-workspace F4'
alt-shift-f5 = 'move-node-to-workspace F5'
alt-shift-f6 = 'move-node-to-workspace F6'
alt-shift-f7 = 'move-node-to-workspace F7'
alt-shift-f8 = 'move-node-to-workspace F8'
alt-shift-f9 = 'move-node-to-workspace F9'
alt-shift-f10 = 'move-node-to-workspace F10'
alt-shift-f11 = 'move-node-to-workspace F11'
alt-shift-f12 = 'move-node-to-workspace F12'

alt-shift-period = 'move-workspace-to-monitor --wrap-around next'
alt-shift-comma = 'move-workspace-to-monitor --wrap-around prev'

alt-shift-r = 'reload-config'

# Resize Mode

alt-r = ['mode resize', 'exec-and-forget ~/.local/script/set_sketchybar_mode [resize]']

[mode.resize.binding]
k = 'resize width -50'
p = 'resize height +50'
n = 'resize height -50'
j = 'resize width +50'
enter = ['mode main', 'exec-and-forget clear_sketchybar_mode']
esc = ['mode main', 'exec-and-forget clear_sketchybar_mode']
ctrl-g = ['mode main', 'exec-and-forget clear_sketchybar_mode']

# Assignments

# NOTE: can determine bundle ID with:
#
#  osascript -e 'id of app "AppName"'
#

[[on-window-detected]]
if.app-id = 'org.gnu.Emacs'
run = 'move-node-to-workspace 1'

[[on-window-detected]]
if.app-id = 'company.thebrowser.Browser'
run = 'move-node-to-workspace 2'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace 10'

[[on-window-detected]]
if.app-id = 'com.apple.systempreferences'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.iphonesimulator'
run = 'layout tiling'

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = ['layout tiling', 'move-node-to-workspace 9']

# Monitor Assignments
[workspace-to-monitor-force-assignment]
F1 = ['secondary', 'main']
F2 = ['secondary', 'main']
F3 = ['secondary', 'main']
F4 = ['secondary', 'main']
F5 = ['secondary', 'main']
F6 = ['secondary', 'main']
F7 = ['secondary', 'main']
F8 = ['secondary', 'main']
F9 = ['secondary', 'main']
F10 = ['secondary', 'main']
F11 = ['secondary', 'main']
F12 = ['secondary', 'main']
