undo-fu-session/
.mc-lists.el
.cache/
autosave/
elpa/
straight/
forge-database.sqlite
history
projects
recentf
saveplace
transient/
tree-sitter/
undo-fu-session/
eln-cache/
project-scratch/

.lsp-session*
bookmarks.eld
